@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0b23f4;
  --color-primary-hover: #b6bdfc;
  --color-primary-red: #f4320c;
  --color-primary-red--hover: #fcc1b6;
  --color-background-light: #f2f3ff;
  --color-white: #ffffff;
  --background-primary: #ebecf8;
  --font-family-base: "Inter", sans-serif;
  --border-radius: 12px;
  --box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --title-color: #111111;
  --subtitle-color: #707070;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

html,
body {
  font-family: var(--font-family-base);
}

nav {
  display: flex !important;
  align-items: center !important;
  gap: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
  font-size: 0.875rem !important;
  background-color: var(--color-white) !important;
  border-radius: 9999px !important;
  color: black !important;
  min-width: 250px !important;
}

nav button {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  cursor: pointer !important;
}

form {
  background-color: var(--color-white) !important;
}

.bg-\[\#0B23F4\] {
  background-color: #0b23f4 !important;
  margin: 10px;
  border-radius: 15px;
  padding: 8px;
  color: white;
}

.text-\[1\.8rem\] {
  font-size: 1.8rem;
  padding: 10px;
}

.text-\[\#5B5B5B\] {
  color: #5b5b5b;
  padding: 10px;
}

.bg-\[var\(--color-primary\)\] {
  background-color: var(--color-primary);
  margin: 0px;
  width: 60%;
  padding: 10px;
  color: white;
  border: none;
  outline: none;
}
